asgiref==3.4.1
Babel==2.9.1
beautifulsoup4==4.10.0
botocore==1.29.135
cachetools==5.2.0
certifi==2021.10.8
charset-normalizer==2.0.10
cloudinary==1.33.0
dj-config-url==0.1.1
dj-database-url==0.5.0
Django==4.0.1
django-bootstrap5==21.3
django-ckeditor==6.2.0
django-crispy-forms==1.13.0
django-environ==0.9.0
django-js-asset==1.2.2
django-phonenumber-field==6.0.0
django-phonenumbers==1.0.1
django-ranged-response==0.2.0
django-recaptcha==3.0.0
django-sendgrid-v5==1.2.0
django-storages==1.13.1
dropbox==11.36.0
environ==1.0
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.51.1
gunicorn==20.1.0
idna==3.3
jmespath==1.0.1
phonenumbers==8.12.41
Pillow==9.3.0
ply==3.11
proto-plus==1.22.1
protobuf==4.21.10
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.2
python-http-client==3.3.5
pytz==2021.3
requests==2.27.1
rsa==4.9
s3transfer==0.6.1
sendgrid==6.9.4
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
starkbank-ecdsa==2.0.3
stone==3.3.1
urllib3==1.26.8
whitenoise==5.3.0
