{% if skill.rating == 5 %}
<ul class="py-4">
  <img src="{{ skill.get_logo_url }} " class="rounded-circle mx-4" alt="image logo" style="width: 40px; height: 40px;">
  {{ skill.name }}
  <span class="fa fa-star ml-4" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
</ul>
{% elif skill.rating == 4 %}
<ul class="py-4">
  <img src="{{ skill.get_logo_url }} " class="rounded-circle mx-4" alt="image logo" style="width: 40px; height: 40px;">
  {{ skill.name }}
  <span class="fa fa-star ml-4" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
  <span class="fa fa-star"></span>
</ul>
{% elif skill.rating == 3 %}
<ul class="py-4">
  <img src="{{ skill.get_logo_url }} " class="rounded-circle mx-4" alt="image logo" style="width: 40px; height: 40px;">
  {{ skill.name }}
  <span class="fa fa-star ml-4" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
</ul>
{% elif skill.rating == 2 %}
<ul class="py-4">
  <img src="{{ skill.get_logo_url }} " class="rounded-circle mx-4" alt="image logo" style="width: 40px; height: 40px;">
  {{ skill.name }}
  <span class="fa fa-star ml-4" style="color:darkorange"></span>
  <span class="fa fa-star" style="color:darkorange"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
</ul>
{% else %}
<ul class="py-4">
  <img src="{{ skill.get_logo_url }} " class="rounded-circle mx-4" alt="image logo" style="width: 40px; height: 40px;">
  {{ skill.name }}
  <span class="fa fa-star ml-4" style="color:darkorange"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
</ul>
{% endif %}