
body{

    height:100%;
    margin: 0 0 20px;
    background-color: rgba(10, 10, 10, 0.849);
    
    
}

.logo{
    text-shadow: 4px 4px 5px gray;
}

.footer{
    position:fixed;
    bottom:0;
    left:0;        
}

p.container{
    display: block;
    margin: 0 auto;
}

.container video {
    display: flex;
    justify-content: center;
  }

  video {
    margin-left: 50vw;
    transform: translate(-50%);
  }

  formb { margin: 0 auto; }

  .stylebackground{
    background-attachment: fixed; 
    background-size: 100% 100%;
  }


  /* Make sure that padding behaves as expected */
  * { box-sizing: border-box }
        
  /* Container for skill bars */
  .container {
      width: 100%; /* Full width */
      
  }

  .skills {
      text-align: right; /* Right-align text */
      padding-top: 10px; /* Add top padding */
      padding-bottom: 10px; /* Add bottom padding */
      color: white; /* White text color */
  }
     
  .skill {width: 80%; background-color: #2196F3;} 
  
  