{% extends "base.html" %}
{% load static %}

<title>{% block title %}About{% endblock %}</title>
{% block content%}

<div class="container my-3 pb-5">
  <h2 class="text-center text-light my-3 pb-5 pt-5">About Myself</h2>
  <div class="row py-5">
    <div class="card">
      <div class="card-body text-dark">
        <h5 class="card-title text-center py-3">A brief introduction about me</h5>
        <p class="card-text">
            {{ me.profile.biography|safe }}
        </p>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-sm text-center text-light">
      <a>I am also on :
        {% for link in contacts %}
        {% if link.category == 'Link' %}
        <ul style="list-style-type: none;font-size: 30px">
          <div>
            <strong>
              <a href="{{ link.url }}">
                <em class="fa fa-{{ link.name|lower }} " style="color: steelblue">
                  {{ link.name }}</em>
              </a>
            </strong>
          </div>
        </ul>
        {% endif %}
        {% endfor %}
      </a>
    </div>
  </div>
</div>
{% endblock %}