{% extends "base.html" %}
{% load static %}

<title>{% block title %}Resume{% endblock %}</title>
{% block content%}

<section id="resume" class="py-5 section section-blank">
    <div class="container text-light my-3 py-5">
        <h2 class="text-center my-3 pb-5 pt-5">Resume</h2>
        <div class="row">
            <div class="col-auto">
                <a download href="{{ me.profile.resume.url }}" class="btn btn-primary">Download Resume</a>
            </div>
            <div class="col-auto">
                <a href="/contact" class="btn btn-outline-warning">Contact</a>
            </div>
        </div>
        <div class="container text-light bg-secondary pb-5">
            <li style="list-style-type: none;">
                <h3 class="section-tagline my-3 pt-5" style="text-align:left;">
                    <div class="navbar navbar-expand-lg navbar-dark" style="background-color: black">

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item ml-4 mr-3">
                                    <a class="nav-link " href="/education"> Education</a>
                                </li>
                                <li class="nav-item mr-3">
                                    <a class="nav-link " href="/courses"> Course Highlights </a>
                                </li>
                                <li class="nav-item mr-3">
                                    <a class="nav-link" href="/resumeprojects"> Projects </a>
                                </li>
                                <li class="nav-item mr-3">
                                    <a class="nav-link " href="/skills"> Skills </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-outline-secondary active" href="/leadership">
                                        Extracurricular Activities
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </h3>
            </li>
            <h3 class="section-tagline my-3 py-3" style="text-align:left;">
                <em class="fa fa-university">
                    Membership, leadership, hobbies, etc
                </em>
            </h3>
            <div class="bg-dark mx-3">
                {% for position in leaderships %}
                <div class="pt-2">
                    <ul>
                        <div class="pb-2 pt-3">
                            <strong class="text-secondary">
                                {{ position.name }}
                            </strong>
                        </div>
                        <div>
                            <p>{{ position.description|safe }}</p>
                        </div>
                    </ul>
                </div>
                <div class="bg-secondary pt-2"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}