{% extends "base.html" %}
{% load static %}

<title>{% block title %}Portfolio{% endblock %}</title>

{% block content%}

<h2 class="text-center text-light my-3 py-5">Projects</h2>
<div class="container my-3 py-5">
  <div class="row my-3 pb-5 pt-5">
    {% for project in projects %}
    <div class="col text-center py-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body text-left text-dark">
          <h5 class="card-title text-center">{{ project.name }}</h5>
          <p class="card-text">{{ project.description|safe }}</p>
            <div class="text-center py-2">
                <a href="{{ project.url }}" class="btn btn-primary">Click for demo</a>
            </div>
        </div>
      </div>
    </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row my-3 pb-5">
        {% endif %}
        {% endfor %}
    </div>
{% include "partials/pagination.html" %}
</div>

{% endblock %}