{% extends "base.html" %}
{% load static %}
  <title>{% block title %}Resume{% endblock %}</title>
  {% block content%}
    <section id="resume" class="py-5 section section-blank">
        <div class="container text-light my-3 py-5">
            <h2 class="text-center my-3 py-5">Resume</h2>
            <div class="row">
                <div class="col-auto">
                  <a download href="{{ me.profile.resume.url }}" class="btn btn-primary">Download Resume</a>
                </div>
                <div class="col-auto">
                  <a href="/contact" class="btn btn-outline-warning">Contact</a>
                </div>
              </div>
            <div class="container text-light bg-secondary pb-5" >
                <li style="list-style-type: none;">
                    <h3 class="section-tagline my-3 pt-5" style="text-align:left;">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item ml-4 mr-3">
                                        <a class="nav-link" href="/education"> Education </a>
                                    </li>
                                    <li class="nav-item mr-3">
                                        <a class="nav-link " href="/courses"> Course Highlights </a>
                                    </li>
                                    <li class="nav-item mr-3">
                                        <a class="nav-link btn-outline-secondary active" href="/resumeprojects"> Projects </a>
                                    </li>
                                    <li class="nav-item mr-3">
                                        <a class="nav-link " href="/skills"> Skills </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="/leadership"> Extracurricular Activities </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </h3>
                    <h3 class="section-tagline my-3 py-3" style="text-align:left;">
                        <i class="fa fa-tasks">
                            Projects
                        </i>
                    </h3>
                <li style="list-style-type: none;">
                    <h5>Course projects</h5>
                    <p>
                    {% for project in projects %}
                    {% if project.is_side_project == False and project.is_active %}
                       <li style="list-style-type: none;">
                            <b class="text-dark">{{ project.name }}</b>
                            <span class="right">
                                <i class="float-right">{{ project.year }}</i>
                            </span>
                            <p class=pt-3>
                               {{ project.description }}
                            </p>
                        </li>
                    {% endif %}
                    {% endfor %}
                    </p>
                    <h5>Side projects</h5>
                    <p>
                    {% for project in projects %}
                    {% if project.is_active and project.is_side_project %}
                        <li style="list-style-type: none;">
                            <b class="text-dark">{{ project.name }}</b>
                            <span class="right">
                               <i class="float-right">{{ project.year }}</i>
                            </span>
                            <p>
                               {{ project.description }}
                            </p>
                        </li>
                    {% endif %}
                    {% endfor %}
                    </p>
                </li>
                </li>
            </div>
        </div>
    </section>
    {% endblock %}