{% extends "base.html" %}
{% load static %}

<title>{% block title %}Resume{% endblock %}</title>
{% block content%}
<section id="resume" class="py-5 section section-blank">
  <div class="container text-light my-3 py-5">
    <h2 class="text-center my-3 py-5">Resume</h2>

    <div class="row">
      <div class="col-auto">
        <a download href="{{ me.profile.resume.url }}" class="btn btn-primary">Download Resume</a>
      </div>
      <div class="col-auto">
        <a href="/contact" class="btn btn-outline-warning">Contact</a>
      </div>
    </div>

    <div class="container text-light bg-secondary pb-5">
      <h3 class="section-tagline my-3 pt-5" style="text-align:center;">
        <div class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item ml-4 mr-3">
                <a class="nav-link btn-outline-secondary active" aria-current="page" href="/education"> Education </a>
              </li>
              <li class="nav-item mr-3">
                <a class="nav-link " href="/courses"> Course Highlights </a>
              </li>
              <li class="nav-item mr-3">
                <a class="nav-link " href="/resumeprojects"> Projects </a>
              </li>
              <li class="nav-item mr-3">
                <a class="nav-link" href="/skills"> Skills </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/leadership">Extracurricular Activities</a>
              </li>
            </ul>
          </div>
        </div>
      </h3>

      <h3 class="section-tagline my-3 py-3" style="text-align:left;">
        <em class="fa fa-graduation-cap">
          Education
        </em>
      </h3>
      <div class="bg-dark">
        {% for education in educations %}
        <br>{{ education.school }}
        <span class="right">
          <em class="float-right">{{ education.year }}</em>
        </span>
        <br>
        <strong class="text-secondary">{{ education.degree }}</strong>
        <br>Focus Area : {{ education.focus_area }}
        <br>
        {% endfor %}
      </div>



    </div>
  </div>
</section>
{% endblock %}